header {
	position: relative;
	top: 18px;
}
header #topo {
	width: 98%;
	height: 100px;
	background-color: black;
	border-radius: 10px;
	top: 18px;

}
header #titulo {
	font-size: 40px;
	color: #fff;
	top: 16px;
	left: 94px;
	font-family: Open_Sans;
	position: relative;
}
header #navbar {
	width: 46%;
    left: 544px;
    top: -39px;
    background-color: #BFBFBF;
    border: none;
}

header ul li {
	font-size: 25px;
	display: inline-block;
	font-family: Open_Sans;
	color: #fff;
}
#topnav {
	position: relative;
    top: 7px;
}
header ul .lium{
	position: relative;
    right: -79px;
} 
header ul .lidois{
	position: relative;
	right: -205px;

}
section {
	position: relative;
	height: 411px;
	width: 100%;
	background-color: #BFBFBF;
    top: 51px;
}
#meio {
	font-family: 'Open_Sans';
	font-size: 19px;
	color: #22313F;
	top: 23px;
    position: relative;
}
#video {
	top: -37px;
	width: 50%;
	height: 60%;
	left: 328px;
}
#obsum {
	position: relative;
    top: 32px;
    left: 12px;
}
footer #esqueda {
	position: relative;
    left: 15px;
    top: 62px;
	width: 30%;
	height: 200px;
	border-radius: 10px;
	display: block;
	background-color: #BFBFBF;
	left: 15px;

}
footer #central {
	position: relative;
    left: 15px;
    top: 62px;
	width: 30%;
	height: 200px;
	border-radius: 10px;
	display: block;
	background-color: #BFBFBF;
	left: 56px;

}
footer #direita {
	position: relative;
    left: 15px;
    top: 62px;
	width: 30%;
	height: 200px;
	border-radius: 10px;
	display: block;
	background-color: #BFBFBF;
	left: 96px;

}
#rodape {
	position: relative;
	width: 100%;
	height: 200px;
	background-color: black;
	top: 100px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 61%;
      margin: auto;
  }